<header>
  <h1>{{ nombre }}</h1>
  <h1>{{ profesion }}</h1>
</header>
<div class="main">
  <aside>
    <h2>Contacto</h2>
    <li>{{ ciudadNacimiento }}</li>
    <li>{{ numTelefono }}</li>
    <li>{{ email }}</li>

    <h2>Idiomas</h2>
    <li>Español</li>
    <li>Inglés</li>
  </aside>


  <main>
    <h2>Sobre mí</h2>
    <p>{{ descripcion }}</p>

    <h2>Experiencia</h2>
    <li>{{ experiencia }}</li>
    <li>{{ experiencia2 }}</li>
    <li>{{ experiencia3 }}</li>

    <h2>Formación</h2>

    <h2>Tecnologías</h2>
  </main>
</div>
<footer>
  <p> {{ nombre }} - {{ fecha | date: 'dd/mm/yyyy' }} </p>
</footer>

